/* 版面設定 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.4s all linear;
    font-size: 22px;
    font-family: "微軟正黑體";
}

body{
    height: auto;
    margin:0;
}

/* 網頁菜單 */

header{
    font-size: 22px;
    position: fixed;
    top:0; left:0; right:0;
    z-index:100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:  rgb(0, 0, 0);
    box-shadow: 10px 1rem 1rem rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}
header img{
    width: 52.5px; height: 65px; padding-bottom: -10px; filter:saturate(8)
}

header .navbar a{
    font-size: 22px;
    font-weight: normal;
    color:white;
    padding-left: 15px;
}

header .logo{
    display:flex;
    z-index:100;
    margin-left: 10px;
    justify-content:space-between;
    align-items: center;
    font-family: 'Yu Gothic UI Semibold';
    font-size:30px;
    font-weight:500;
    color:rgb(0, 140, 255);
}

header .navbar a:hover{
    font-size: 22px;
    font-weight: 900;
    color:rgb(1, 111, 255);
    margin-left:3px;
    transition: 0.5s;
    background-color:rgbrgb(23, 126, 252);
    padding:14px 10px 14px 10px;
}

#menu-bar{
    font-size:30px;
    cursor: pointer;
    color:rgb(9, 152, 152);
    border:1px solid rgb(9, 152, 152);
    border-radius:5px;
    padding:8px;
    display:none;
}

/* 首頁 */

section{
    padding:10px;
}

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.home .content{
    flex: 1 1 30px;
    margin-top: 60px;
    padding: 50px;
}

.home .img-contentainer{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.home h1{
    font-family: "微軟正黑體";
    font-size: 60px;
    font-weight: 500;
    color: rgb(43, 147, 182);
}

.home h2{
    font-family: "微軟正黑體";
    font-size:40px;
    font-weight: 300;
    color: rgb(43, 147, 182);
    margin-left: 40px;
}

.home h3{
    font-family: "微軟正黑體";
    font-size:30px;
    font-weight: 200;
    color: rgb(43, 147, 182);
    margin-left: 40px;
}

.home li{
    font-size: 30px;
    font-weight: 200;
    color: rgb(43, 147, 182);
    margin-left: 60px;
}

/* 公司簡介 */

.introductions{
    margin-top: 80px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    width: 100%;
    min-height: 100%;
    align-items: center;
    background-size:cover;
    background-position: center;
}

.introductions .content{
    width:100%;
    margin: 20px;
}

.introductions .content h1{
    text-align: center;
    font-size: 70px;
    font-weight: 550;
    color:rgb(255, 255, 255);
    background-color: rgb(4, 157, 252);
}

.introductions .content p{
    margin-top: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 145, 161);
}

/* 動力計HORIBA */

.HORIBA{
    margin-top: 80px;
    padding: 30px;
}

.HORIBA .content h1{
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    color: rgb(1, 118, 131);
}

.HORIBA .content h2{
    font-size: 40px;
    font-weight: 400;
    color: rgb(3, 136, 151);
    margin: 30px;
    margin-left: 50px;
}

.HORIBA .content li{
    font-size: 40px;
    font-weight: 400;
    color: rgb(3, 136, 151);
    margin: 30px;
    margin-left: 50px;
}

/* 生產線檢測DURR */

.DURR{
    margin-top: 80px;
    padding: 30px;
}

.DURR .content{
    align-items: center;
    margin: 10px;
}

.DURR .content li{
    font-size: 30px; 
    font-weight: 500;
    font-family: '微軟正黑體';
    color: rgb(43, 147, 182); 
}

/* 流量測試台SuperFlow */

.SuperFlow{
    margin-top: 80px;
    padding: 30px;
}

.SuperFlow h2{
    font-weight:500; 
    font-size: 40px; 
    font-family: '微軟正黑體'; 
    color: rgb(43, 147, 182);
}

.SuperFlow .content td{
    vertical-align: top;    /* 設置垂直對齊方式為上方對齊 */
    font-weight:500; 
    font-size: 40px; 
    font-family: '微軟正黑體'; 
    color: rgb(43, 147, 182);
}

.SuperFlow .content li{
    font-size: 40px;
}
/* 流量計Max */

.Max{
    margin-top: 80px;
    padding: 30px;
}

.Max .content{
    text-align: left;
    height: 100%;
    width: 100%;
    margin: 10px;
}

.Max .content h2{
    font-size: 60px;
    font-family: "微軟正黑體";
    font-weight: 500;
    color: rgb(43, 101, 182);
    width: 1000px;
    text-align: "center";
}

.Max .content li{
    font-size: 50px; 
    font-weight: 500;
    color: rgb(43, 147, 182); 
}

/* 聯絡我們 */

.Contact_us{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    width: 100%;
    min-height: 100%;
    align-items: center;
    background-size:cover;
    background-position: center;
}

.Contact_us .content{
    text-align: center;
    width:100%;
    margin: 10px;
}

.Contact_us .content table{
    width: 100%;
    border-collapse: collapse;

}

.Contact_us .content td{
    font-size: 25px;
    padding: 15px;
}

.Contact_us h1{
    font-family: "微軟正黑體";
    font-size: 50px;
    font-weight:500;
    color: rgb(43, 147, 182);
}

.Contact_us h2{
    font-family: "微軟正黑體";
    font-size: 30px;
    font-weight: 500;
    color: rgb(43, 147, 182);
}

/* 頁尾 */

.footer{
    bottom: 0;  
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    line-height: 7px;
    background-color: rgb(48, 48, 48);
}

.footer h1{
    width:100%;
    font-family: "微軟正黑體";
    font-size: 40px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    padding: 15px;
}

.footer h2{
    font-family: "微軟正黑體";
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    gap: 1px;
    color: rgb(255, 255, 255);
    padding: 15px;
}

.footer table{
    height: 100px;
    font-family: "微軟正黑體";
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    gap:15px;
    color: rgb(255, 255, 255);
}

.footer td{
    padding: 10px;
}

/* RWD手機版 */

/* header */
@media (max-width:600px){
    #menu-bar{
        display:initial;
        position:absolute;
        right:10px;
        top:20px;
    }
    header .navbar{
        position: absolute;
        top:80px; left:0; right:0;
        background-color:rgba(0, 0, 0, 0.85);
        border-top:3px solid gray;
        /* 隱藏下拉選單 */
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0 );
    }

    header .navbar a{
        /* 將連結存進按鈕 */
        display: block;
        font-size:22px;
        font-weight: normal;
        color:rgb(20, 80, 80);
        margin:10px; padding:6px;
        border-left:3px solid gray;
        background-color: white;
    }

    header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding:10px;
    }

}   